#footer {
  background-color: black;
  color: var(--text-white);
}

.footer-container {
  max-width: 65%;
  margin: 0 auto;
}

.footer-wrapper {
  padding: 50px 0;
}

.footer-top {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.footer-item {
  flex-basis: calc(25% - 20px);
}

.footer-item .footer-title {
  font-size: 1.3rem;
  color: var(--primary-color);
  font-weight: 600;

  margin-bottom: 25px;
}

.footer-item p {
  font-size: 0.8rem;
  line-height: 28px;
  padding-bottom: 1rem;
  color: var(--text-white);
  font-weight: 300;
}

.footer-socials {
  display: flex;
  gap: 10px;
}

.footer-socials i {
  cursor: pointer;

  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border: 1px solid white;
  transition: all 0.5s;
}

.footer-socials i:hover {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.footer-list-time {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-time {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  border-bottom: 1px dotted white;
}

.footer-time p {
  padding-bottom: 10px;
}


.input-email input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
  margin-bottom: 15px;
}
