:root {
  --primary-color: #ff0e83;
  --secondary-color: #4e2a84;
  --text-white: white;
  --text-black: black;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  background: white;
  letter-spacing: 1px;
  font-size: 16px;
}

#header {
  width: 100%;
  padding: 20px 0;
  background-color: var(--secondary-color);

  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  z-index: 100;
}

.header-container {
  max-width: 1330px;
  margin: 0 auto;
  height: 100%;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;

  gap: 16px;
  height: 100%;
}

.header-logo p {
  font-size: 2.3rem;
  color: var(--text-white);
  font-weight: 500;
}

.header-nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0.625rem 0;
}

.header-nav ul li {
  display: inline;
  padding: 0 1rem;
}

.header-nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 2px;

  transition: all 0.5s;
}

.header-nav ul .active a {
  color: var(--primary-color);
}

.header-nav ul li a:hover {
  color: var(--primary-color);
}

/* Intro */
#intro {
  background-image: url("../assets/intro/intro_bg.jpg");

  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.intro-content h1 {
  text-align: center;
  font-size: 3.5rem;
  font-weight: 500;
  color: var(--text-white);
}

.intro-content p {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 300;
  color: var(--text-white);

  padding: 1.5rem 0;
}

.intro-content button {
  background-color: var(--primary-color);
  color: var(--text-white);
  border: 1px solid white;

  border-radius: 5px;
  padding: 0.813rem 2rem;
  font-size: 0.875rem;
  cursor: pointer;
  letter-spacing: 1px;
  transition: all 0.5s;
}

.intro-b-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.intro-b-item {
  display: flex;
  align-items: center;
  text-align: center;
}

.intro-b-item img {
  width: 100%;
  height: 100%;
}

.intro-text {
  padding: 0 2rem;
}

.intro-text h3 {
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.intro-text p {
  color: #c1c1c1;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 30px;
}

.intro-ab {
  /* het 2 , het 3 */
  grid-column: 2 / span 2;
}

.intro-bake {
  grid-column: 1 / span 2;
}

.intro-ab-4 {
  grid-column: 3 / span 2;
}

.intro-b-item:first-child,
.intro-b-item:nth-child(8) {
  background-color: #4e2a84;
}

.intro-b-item:nth-child(3) {
  background-color: #ff0e83;
}

.intro-b-item:nth-child(4) {
  background-color: #ed6498;
}

.intro-b-item:nth-child(6) {
  background-color: #836eaa;
}

/* Stats */
#stats {
  padding: 5rem 1rem;
  background-color: white;
}
.stats-container {
  max-width: 1200px;
  margin: 0 auto;
}
.stats-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20;
}
.stats-tiem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.stats-tiem h3 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--secondary-color);
}
.stats-tiem p {
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 4px;
  color: var(--text-black);
}

/* service */
#service {
  background-image: url("../assets/service/service_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3rem 0;
}
.service-container {
  max-width: 1200px;
  margin: 0 auto;
}
.service-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.service-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.service-wrapper h2 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--text-white);

  text-align: center;
  letter-spacing: 2px;
}

.service-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
}

.service-item:hover i {
  color: var(--primary-color);
}

.service-item i {
  border: 1px solid var(--secondary-color);
  border-radius: 50%;
  background-color: white;
  color: var(--secondary-color);
  font-size: 3.75rem;
  transition: all 0.5s;

  width: 105px;
  height: 105px;
  line-height: 105px;
}

.service-item i:hover {
  color: var(--primary-color);
}

.service-item h3 {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--text-black);
}

.service-item p {
  font-size: 0.875rem;
  color: var(--text-black);
}

.service-item button {
  background-color: var(--primary-color);
  color: var(--text-white);
  border: 1px solid white;
  border-radius: 5px;
  padding: 0.875rem 2rem;
  font-size: 0.875rem;

  cursor: pointer;
  letter-spacing: 1px;
  transition: all 0.5s;
}

.service-item button:hover {
  background-color: white;
  color: var(--text-black);
  border-color: var(--primary-color);
}

/* Gallery */
#gallery {
  background-color: white;
  padding: 3rem 0;
}

#gallery h2 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 3rem;
  text-align: center;
  letter-spacing: 2px;
  color: var(--text-black);
}

.gallery-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.gallery-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 0 1rem;
}

.gallery-item {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.gallery-item .gallery-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(48, 132, 163, 0.2);
  padding: 38px 28px;
  color: var(--text-white);
  text-align: right;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-item-1 {
  grid-column: 1 / span 2;
}

.gallery-item-6 {
  grid-column: 3 / span 2;
}

.gallery-overlay h3 {
  font-size: 1.875rem;
  font-weight: 700;
  transform: translateY(20px);
  transition: all 0.5s;
}

.gallery-item:hover .gallery-overlay h3 {
  transform: translateY(0);
}

.gallery-overlay h3 span {
  font-size: 1.875rem;
  font-weight: 200;
  margin-right: 1px;
}

.gallery-overlay h3::after {
  content: "";
  width: 100%;
  height: 5px;
  display: block;
  margin-top: 0.975rem;
  background-color: white;
  transform: translateY(20px);

  opacity: 0;
  transition: all 0.5s;
}

.gallery-item:hover .gallery-overlay h3::after {
  opacity: 1;
  transform: translateY(0);
}

.gallery-overlay p {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  font-size: 0.75rem;
  text-align: right;
  transform: translateY(20px);
  transition: all 0.5s;

  opacity: 0;
}

.gallery-item:hover .gallery-overlay p {
  opacity: 1;
  transform: translateY(0);
}

/* Team */
#team {
  background-color: var(--secondary-color);
  padding: 5rem 0;
}

.team-container {
  max-width: 75%;
  margin: 0 auto;
}

.team-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}

.team-wrapper h2 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 3rem;
  text-align: center;
  letter-spacing: 2px;
  color: var(--text-white);
}

.team-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px;
}

.team-list .team-item {
  position: relative;
  width: calc(33% - 15px);
  overflow: hidden;
}

.team-list .team-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team-list .team-item .team-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background-color: var(--primary-color);
  padding: 35px 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  overflow: 1;
  transition: all 0.5s;
}

.team-item:hover .team-title {
  opacity: 0;
}

.team-item:hover .team-details {
  opacity: 1;
}

.team-item .team-title h3 {
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--text-white);
}

.team-item .team-title p {
  font-size: 0.875rem;
  font-weight: 300;
  color: var(--text-white);
  letter-spacing: 1px;
  padding-top: 10px 0;
}

.team-item .team-details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);

  padding: 100px 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  opacity: 0;
  transition: all 0.5s;
}

.team-item-2 .team-details {
  transform: translateX(-100%);
}

.team-item-3 .team-details {
  transform: translateY(-100%);
}

.team-item-4 .team-details {
  transform: rotate(-180deg);
}

.team-item-5 .team-details {
  transform: scale(0);
}

.team-item-2:hover .team-details {
  transform: translateX(0);
  opacity: 1;
}

.team-item-3:hover .team-details {
  transform: translateY(0);
  opacity: 1;
}

.team-item-4:hover .team-details {
  transform: rotate(0deg);
  opacity: 1;
}

.team-item-5:hover .team-details {
  transform: scale(1);
  opacity: 1;
}

.team-item .team-details h3 {
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--primary-color);
}

.team-item .team-details p {
  font-size: 0.875rem;
  color: var(--text-white);
}

.team-item .team-details .team-socials i {
  width: 37px;
  height: 37px;
  border: 1.5px solid rgba(255, 255, 255, 0.5);
  text-align: center;
  line-height: 37px;
  margin: 0 5px;
  color: var(--text-white);

  cursor: pointer;
  transition: all 0.5s;
}

.team-item .team-details .team-socials i:hover {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

#feedback {
  background-image: url("../assets/feedback/cc1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.feedback-container {
  max-width: 75%;
  margin: 0 auto;
}

.feedback-wrapper {
  padding: 75px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 30px;
}

.feedback-wrapper h2 {
  color: var(--text-white);
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
}

.feedback-carousel {
  border: 3px solid var(--primary-color);
  background-color: rgba(255, 255, 255, 0.5);
  padding: 35px 70px;
  height: 200px;
}

.feedback-carousel .feedback-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.feedback-item p {
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 1.3px;
  color: #212529;
  font-weight: 300;
  text-align: center;
}

.feedback-item .feedback-name {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--text-white);
}

.feedback-item p i {
  font-size: 1.3rem;
  color: #2cbeff;
}

/* Contact */
#contact {
  background-color: white;
}

.contact-container {
  max-width: 75%;
  margin: 0 auto;
}

.contact-wrapper {
  padding: 70px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 30px;
}

.contact-wrapper h2 {
  color: var(--text-black);
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
}

.contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-form-item {
  display: flex;
  align-items: center;
  gap: 35px;
}

.contact-form-item input {
  width: 50%;
}

.contact-form-item .contact-form-input {
  padding: 15px;
  border: 1px solid var(--text-black);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.5s;
}

/* .contact-form-input:focus {
  outline: none;
  border-color: var(--primary-color);
} */

.contact-form-item textarea {
  padding: 15px;
  font-size: 1rem;
  font-weight: 600;
  width: 100%;
  border: 1px solid var(--text-black);
  resize: none;

  height: 150px;
}

.contact-form button {
  cursor: pointer;
  transition: all 0.5s;

  padding: 1rem;
  font-size: 1rem;
  font-weight: 600;
  background-color: var(--primary-color);
  color: var(--text-black);
}

.contact-form button:hover {
  background-color: black;
  color: var(--text-white);
}
